@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&family=Urbanist:wght@200&display=swap');

body{
    padding: 0;
    margin: 0;
    height: 100%;
}



.react-chatbot-kit-chat-header{
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Signika Negative';
    
}

.react-chatbot-kit-chat-bot-message{
    background-color: #D0E6B5;
    border: 1px solid #A7A7A7;
    border-radius: 0px 16px 16px 30px;
    height: max-content;
    width: 80%;
    margin: 10px;
    font-family: 'Urbanist';
    padding: 10px 10px 10px 15px;
    font-weight: bold;
}

.react-chatbot-kit-chat-input-container{
    background-color: #89A64B;
    padding: 20px;
    width: 100%;
}

.react-chatbot-kit-chat-bot-message-container{
    margin: 20px;
    display: flex;
    height: 100%;
}

.react-chatbot-kit-chat-input-container{
}
.react-chatbot-kit-chat-input{
    border-radius: 10px;
    border: 1px solid #A7A7A7;
    height: 40px;
    width: 100%;
    padding: 10px;
}

.react-chatbot-kit-user-chat-message{
        background-color: #D0E6B5;
        border: 1px solid #A7A7A7;
        border-radius: 16px 0px 30px 16px;
        height: max-content;
        width: max-content;
        margin: 10px;
        text-align: right;
        padding: 10px;
        font-family: 'Urbanist';
        display: flex;
        font-weight: bold;

}

.react-chatbot-kit-user-avatar-icon{
    width: 30px;

}

.react-chatbot-kit-user-chat-message-container{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

.react-chatbot-kit-chat-btn-send{
    width: 18px;
    color: black;
    margin-left: -30px;
    cursor: pointer;
}

.react-chatbot-kit-chat-bot-avatar-letter{
    background-color: #89A64B;
    padding: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-family: 'Signika Negative';
}



